body {
  margin: 0;
  font-family: 'Daydream'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

img.sprite {
	image-rendering: pixelated;
  width: 128px;
  height: 128px;
}

@font-face{
  font-family: "Daydream";
  src: url("../fonts/Daydream.ttf") format("truetype");
}